POSTGRES_USER=logarchive
POSTGRES_PASSWORD=change-this-long-random-password
INGEST_TOKEN=change-this-long-random-token
DOZZLE_CERT_FILE=./certs/dozzle_cert.pem
DOZZLE_KEY_FILE=./certs/dozzle_key.pem
ARCHIVE_RETENTION_MONTHS=6
MAX_ROWS_PER_QUERY=50000
INGEST_MAX_PENDING_ROWS=100000
